@font-face {
  font-family: 'Dot Matrix';
  src: url('assets/Square-Dot-Matrix.ttf') format('truetype');
}

#app {
  text-align: center;
  min-height: 100vh;  
  background-color: #212122;
}

.transparent{
  background-color: transparent !important;
}

.text-gold, .text-gold.ant-divider-horizontal.ant-divider-with-text{
  color: #f3cc62;
}

.text-gold.ant-divider-horizontal.ant-divider-with-text::before, .text-gold.ant-divider-horizontal.ant-divider-with-text::after{
  border-top: 1px solid;
  border-top-color: #f3cc62;
}

.text-red{
  color: #d32029 !important;
}

.text-lcd{
  font-family: "Dot Matrix";
  color: #d32029;
}

.btn-gold.ant-btn{
  color: #f3cc62;
  border-color: #f3cc62;
  background-color: transparent;
}

.btn-gold.ant-btn:hover, .btn-gold.ant-btn:focus, .btn-gold.ant-btn:active{
  color: #d32029;
  border-color: #d32029;
  background-color: transparent;
}

.menu-dark.ant-dropdown-menu{
  background-color: #212122;
}

.menu-dark .ant-dropdown-menu-item{
  color: #f3cc62;
}

.menu-dark .ant-dropdown-menu-item:hover{
  color: #d32029;
  background-color: transparent;
}

.header.ant-layout-header {
  height: auto;
  width: 100%;
}

.main.ant-layout-content{
  padding: 24px 72px;
}

.footer.ant-layout-footer{
  padding: 24px 72px;
}

a.link:hover{
  color: #d32029;
}
