@font-face {
  font-family: 'Dot Matrix';
  src: url('assets/Square-Dot-Matrix.ttf') format('truetype');
}

#app {
  text-align: center;
  min-height: 100vh;  
  background-color: #212122;
}

.transparent, .transparent .ant-collapse-header{
  background-color: transparent !important;
}

.transparent .ant-collapse-item:last-child{
  border-top: 1px solid;
  border-color: #f3cc62;
}

.text-gold, .text-gold.ant-divider-horizontal.ant-divider-with-text{
  color: #f3cc62;
}

.divider-gold.ant-divider, .text-gold.ant-divider-horizontal.ant-divider-with-text::before, .text-gold.ant-divider-horizontal.ant-divider-with-text::after{
  border-top: 1px solid;
  border-top-color: #f3cc62;
}

.text-red{
  color: #d32029 !important;
}

.text-light{
  color: #b4b4b4;
}

.text-light.ant-divider-horizontal.ant-divider-with-text{
  color: #b4b4b4;
  font-size: 14px;
}

.text-light.ant-divider-horizontal.ant-divider-with-text::before, .text-light.ant-divider-horizontal.ant-divider-with-text::after{
  border-top: 1px solid;
  border-top-color: #434343;
}

.text-lcd{
  font-family: "Dot Matrix";
  color: #d32029;
}

.btn-gold.ant-btn{
  color: #f3cc62;
  border-color: #f3cc62;
}

.btn-gold.ant-btn:hover, .btn-gold.ant-btn:focus, .btn-gold.ant-btn:active{
  color: #d32029;
  border-color: #d32029;
}

.menu-dark.ant-dropdown-menu{
  background-color: #212122;
}

.menu-dark .ant-dropdown-menu-item{
  color: #f3cc62;
}

.menu-dark .ant-dropdown-menu-item:hover{
  color: #d32029;
  background-color: transparent;
}

.header.ant-layout-header {
  height: auto;
  width: 100%;
}

.main.ant-layout-content{
  padding: 24px 72px;
}

.footer.ant-layout-footer{
  padding: 24px 72px;
}

a.link:hover{
  color: #d32029;
}

.control-label{
    display: block;
    text-align: center;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    color: #b4b4b4;
    text-shadow: 0 0 1px #111;
}

.control-select.ant-select, .control-input.ant-imput{
  padding: 0 7px;
  margin: 16px 0;
  width: 100%;
  text-align: left;
  color: #d32029;
  font-size: 1rem;
}

.control-select.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  background-color: #2a1215;
  border: 1px solid #434343;
  border-radius: .25rem;
  box-shadow: 0px 0px 0px 2px #262626 inset;
}

.control-select.ant-select:not(.ant-select-customize-input) .ant-select-selector:hover,
.control-select.ant-select:not(.ant-select-disabled):hover .ant-select-selector{
  border-color: #d32029;
}

.control-select.ant-select-single .ant-select-selector .ant-select-selection-placeholder,
.control-select.ant-select-single.ant-select-open .ant-select-selection-item,
.control-select.ant-select .ant-select-arrow{
  color: #d32029;
}

.control-select.ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector{
  border-color: #d32029;
  box-shadow: 0 0 0 2px rgba(211, 32, 41, 0.3)
}

.select-row .ant-col{
  align-items: center;
  display: flex;
  justify-content: center;
}

.padded-row .ant-col{
  padding-bottom: 25px;
}

.padded-row .ant-col:last-child{
  padding: 0;
}

.credits.ant-space-align-center{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.credits p{
  margin: 0;
}

.display {
  background-color: #2a1215;
  border: 2px solid #434343;
  border-radius: .5rem;
  box-shadow: 0px 0px 0px 4px #262626 inset;
  height: 20vh;
  min-width: 100%;
  background-color: #2a1215;
  background-size: 25px 25px, 25px 25px, 5px 5px, 5px 5px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
  background-image: -webkit-linear-gradient(transparent 2px, transparent 2px),
                  -webkit-linear-gradient(0, transparent 2px, transparent 2px),
                  -webkit-linear-gradient(rgba(211,32,41,.1) 1px, transparent 1px),
                  -webkit-linear-gradient(0, rgba(211,32,41,.1) 1px, transparent 1px);
  background-image:-moz-linear-gradient(rgba(211,32,41,.1) 1px, transparent 1px),
                  -moz-linear-gradient(0, rgba(211,32,41,.1) 1px, transparent 1px);
  background-image: linear-gradient(transparent 2px, transparent 2px),
                  linear-gradient(90deg, transparent 2px, transparent 2px),
                  linear-gradient(rgba(211,32,41,.1) 1px, transparent 1px),
                  linear-gradient(90deg, rgba(211,32,41,.1) 1px, transparent 1px);
  margin-bottom: 24px;
}

.keyboard-wrapper{
  width: 100;
}

.knob-wrapper {
  width: 100%;
}

.knob-wrapper .knob{
  display: block;
  margin-top: 5px;
}

.error {
  font-family: "Dot Matrix";
  display: inline-block;
  color: #d32029;
  padding: 1px;
  size: 4rem;    
  background-color: #2a1215;
}

.ant-page-header-heading-title .logo{
  max-height: 8rem;
  min-height: 2rem;
  height: 4rem;
  width: 100%;
  max-width: 10rem;
}

.ant-page-header-heading-sub-title{
  display: flex;
  align-self: flex-end;
  font-size: 1.2rem;
  line-height: 1.2rem;
}

.ant-page-header-heading-extra{
  display: flex;
  align-self: center;
}

.selector-wrapper .selector{
  margin-top: 2px;
  margin-bottom: 2px;
}

.more .ant-divider-horizontal.ant-divider-with-text{
  margin-bottom: 1px;
}