@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Dot Matrix';
    src: url('assets/Square-Dot-Matrix.ttf') format('truetype');
}

@layer base {
    body { @apply bg-neutral min-h-screen text-primary}
    header, footer { @apply bg-transparent text-primary}
}

@layer components { 
    .divider-primary:before,.divider-primary:after{
        @apply bg-primary;
    }

    .btn-outline.btn-primary {
        @apply hover:bg-transparent hover:border-accent hover:text-accent
    }
    

    .input-switch {
        @apply cursor-pointer bg-transparent checked:focus:bg-transparent hover:text-transparent focus:ring-0 focus:ring-offset-0
    }

    .input-knob, .input-slider {
        @apply cursor-pointer focus-visible:ring-0 focus-visible:ring-offset-0;
    }

    .input-knob:focus-visible, .input-slider:focus-visible {
        --tw-ring-offset-shadow: 0 0 #000 !important;
    }
}

@layer utilities {
    .bg-grid{
        background-size: 25px 25px, 25px 25px, 5px 5px, 5px 5px;
        background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
        background-image: -webkit-linear-gradient(transparent 2px, transparent 2px),
                        -webkit-linear-gradient(0, transparent 2px, transparent 2px),
                        -webkit-linear-gradient(rgba(211,32,41,.1) 1px, transparent 1px),
                        -webkit-linear-gradient(0, rgba(211,32,41,.1) 1px, transparent 1px);
        background-image:-moz-linear-gradient(rgba(211,32,41,.1) 1px, transparent 1px),
                        -moz-linear-gradient(0, rgba(211,32,41,.1) 1px, transparent 1px);
        background-image: linear-gradient(transparent 2px, transparent 2px),
                        linear-gradient(90deg, transparent 2px, transparent 2px),
                        linear-gradient(rgba(211,32,41,.1) 1px, transparent 1px),
                        linear-gradient(90deg, rgba(211,32,41,.1) 1px, transparent 1px);
    }
}