@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Dot Matrix';
    src: url('assets/Square-Dot-Matrix.ttf') format('truetype');
}

@layer base {
    body { @apply bg-primary }
    header, footer { @apply bg-transparent }
}

@layer utilities {
    .bg-grid{
        background-size: 25px 25px, 25px 25px, 5px 5px, 5px 5px;
        background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
        background-image: -webkit-linear-gradient(transparent 2px, transparent 2px),
                        -webkit-linear-gradient(0, transparent 2px, transparent 2px),
                        -webkit-linear-gradient(rgba(211,32,41,.1) 1px, transparent 1px),
                        -webkit-linear-gradient(0, rgba(211,32,41,.1) 1px, transparent 1px);
        background-image:-moz-linear-gradient(rgba(211,32,41,.1) 1px, transparent 1px),
                        -moz-linear-gradient(0, rgba(211,32,41,.1) 1px, transparent 1px);
        background-image: linear-gradient(transparent 2px, transparent 2px),
                        linear-gradient(90deg, transparent 2px, transparent 2px),
                        linear-gradient(rgba(211,32,41,.1) 1px, transparent 1px),
                        linear-gradient(90deg, rgba(211,32,41,.1) 1px, transparent 1px);
    }
}