@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Dot Matrix';
    src: url('assets/Square-Dot-Matrix.ttf') format('truetype');
}

@layer base {
    body { @apply bg-neutral min-h-screen text-primary}
    header, footer { @apply bg-transparent text-primary}

    :root {
        --scrollbarTrack: hsla(var(--n));
        --scrollbarThumb: hsla(var(--b2));
        --scrollbarThumbHover: hsla(var(--s));
   }
    
    ::-webkit-scrollbar {
        width: 5px;
        border-radius: var(--rounded);
    }
      
          
    /* Track */
    ::-webkit-scrollbar-track {
        background: var(--scrollbarTrack);
    }
        
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: var(--scrollbarThumb);
        border-radius: var(--rounded-btn);
    }
        
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: var(--scrollbarThumbHover);
    }
    
    ::-webkit-scrollbar:hover ::-webkit-scrollbar-thumb{      
        background: var(--scrollbarThumbHover);
    }
    
    /* width */
    @screen sm {
        ::-webkit-scrollbar {
            width: 12px;
        }
    }
}

@layer components { 
    .divider-primary:before,.divider-primary:after{
        @apply bg-primary;
    }

    .btn-outline.btn-primary {
        @apply hover:bg-transparent hover:border-accent hover:text-accent
    }
    

    .input-switch {
        @apply cursor-pointer bg-transparent checked:focus:bg-transparent hover:text-transparent focus:ring-0 focus:ring-offset-0
    }

    .input-knob, .input-slider {
        @apply cursor-pointer focus-visible:ring-0 focus-visible:ring-offset-0;
    }

    .input-knob:focus-visible, .input-slider:focus-visible {
        --tw-ring-offset-shadow: 0 0 #000 !important;
    }

    .bottom-drawer{
        --tw-shadow: 0 -20px 25px -5px rgb(0 0 0 / 0.1), 0 -8px 10px -6px rgb(0 0 0 / 0.1) !important;
        @apply fixed bottom-0 z-50 w-full shadow-xl shadow-white;
    }

    .btn-pushable {
        @apply btn-ghost btn-active text-secondary active:outline-base-200 outline-base-100 outline-2 outline;
    }
}

@layer utilities {
    .bg-grid{
        background-size: 25px 25px, 25px 25px, 5px 5px, 5px 5px;
        background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
        background-image: -webkit-linear-gradient(transparent 2px, transparent 2px),
                        -webkit-linear-gradient(0, transparent 2px, transparent 2px),
                        -webkit-linear-gradient(rgba(211,32,41,.1) 1px, transparent 1px),
                        -webkit-linear-gradient(0, rgba(211,32,41,.1) 1px, transparent 1px);
        background-image:-moz-linear-gradient(rgba(211,32,41,.1) 1px, transparent 1px),
                        -moz-linear-gradient(0, rgba(211,32,41,.1) 1px, transparent 1px);
        background-image: linear-gradient(transparent 2px, transparent 2px),
                        linear-gradient(90deg, transparent 2px, transparent 2px),
                        linear-gradient(rgba(211,32,41,.1) 1px, transparent 1px),
                        linear-gradient(90deg, rgba(211,32,41,.1) 1px, transparent 1px);
    }
}